@mixin flex($flex, $column, $wrap) {
  flex: $flex;
  display: flex;
  flex-flow: $column $wrap;
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.875rem, 1fr));
  grid-auto-rows: max-content;
}

@mixin element() {
  top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
  display: none;
	position: fixed;
  align-items: center;
  justify-content: center;
	background-color: $black80;
	z-index: 3000;
}

@mixin padding {
  padding: 0 7.813rem 0 7.813rem;

  @include smMobile {
    padding: 0 1rem 0 1rem;
  }

  @include mobile {
    padding: 0 2.188rem 0 2.188rem;
  }

  @include tablet {
    padding: 0 3.75rem 0 3.75rem;
  }

  @include laptop {
    padding: 0 3.75rem 0 3.75rem;
  }
}

@mixin fontPrimary {
  font-family: "Playfair Display", serif;
}

@mixin fontSecundary {
  font-family: "Roboto", sans-serif;
}
