// variables
$min-smMobile: 200px;
$max-smMobile: 320px;

$min-mobile: 320px;
$max-mobile: 480px;

$min-tablet: 481px;
$max-tablet: 768px;

$min-laptop: 769px;
$max-laptop: 1024px;

$min-desktop: 1025px;
$max-desktop: 1200px;

// mixins
@mixin smMobile {
    @media (min-width: #{$min-smMobile}) and (max-width: #{$max-smMobile}) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: #{$min-mobile}) and (max-width: #{$max-mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$min-tablet}) and (max-width: #{$max-tablet}) {
        @content;
    }
}

@mixin laptop {
    @media (min-width: #{$min-laptop}) and (max-width: #{$max-laptop}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$min-desktop}) and (max-width: #{$max-desktop}) {
        @content;
    }
}