.main {
    &__card {
        @include flex(auto, column, nowrap);
        min-height: 18.375rem;
        // max-height: 18.375rem;
        gap: 1rem;

        &__img {
            flex: auto;
            min-height: 60%;
            max-height: 60%;
            border-radius: 0.5rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        &__title {
            min-height: 2rem;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        &:hover {
            cursor: pointer;
            border-radius: 0.5rem;
            background-color: #F7F7F7;
        }
    }
}