* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    @include flex(auto, column, wrap);
    color: $black80;
}

i {
    color: $black60;
    
    &:hover {
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $black80;

    &:hover {
        background-color: $black60;
    }
}

::selection {
    color: $white;
    background: $black80;
}
