footer {
    @include flex(auto, row, wrap);
    @include fontPrimary();
    @include padding();
    min-height: 4.313rem;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
    background-color: $white;

    p {
        font-size: 1rem;
        font-weight: bold;
        color: $black20;
    }
}