.main {
    &__h2 {
        margin-top: 2.5rem;

        @include mobile {
            // margin-top: 0rem;
        }
    }

    &__container {
        @include grid(4, 2);
        height: 100%;
        margin-top: 1rem;
        column-gap: 1.5rem;
        row-gap: 4rem;

        @include smMobile {
            @include flex(auto, column, wrap);
            row-gap: 2rem;
        }

        @include mobile {
            @include flex(auto, column, wrap);
            row-gap: 2rem;
        }

        @include tablet {
            @include grid(2, 2);
        }
    }
}

// ids
#img1 {
    background-image: url(/assets/img/img2.png);
}

#img2 {
    background-image: url(/assets/img/img3.png);
}

#img3 {
    background-image: url(/assets/img/img4.png);
}

#img4 {
    background-image: url(/assets/img/img5.png);
}

#img5 {
    background-image: url(/assets/img/img6.png);
}

#img6 {
    background-image: url(/assets/img/img7.png);
}

#img7 {
    background-image: url(/assets/img/img8.png);
}

#img8 {
    background-image: url(/assets/img/img9.png);
}