main {
    @include flex(auto, column, nowrap);
    @include padding();
    margin-top: calc(3.5rem + 2.313rem);
    // max-height: 30rem;
}

// classes
.main {
    &__section {
        @include flex(auto, column, nowrap);
        max-height: 100%;
    }

    &__channel {
        @include flex(auto, row, nowrap);
        @include fontSecundary();
        font-size: 0.75rem;
        max-height: 2rem;
        gap: 1.5rem;
        align-items: center;

        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
            display: none;
        }

        @include laptop {
            justify-content: center;
        }
    }
}