.search {
    @include element();
    @include padding();

    &--active {
        @include flex(auto, column, nowrap);
        justify-content: start;
        gap: 1rem;
    }

    &__form {
        @include flex(auto, row, wrap);
        max-height: 4rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 0.3rem;
        margin-top: 2rem;

        i {
            color: $white;
        }
    }

    &__input {
        flex: auto;
        height: 100%;
        padding-right: 3rem;
        border: none;
        background: rgba(255, 255, 255, 0);
        color: white;
        font-size: 1.125rem;

        justify-content: center;
        align-items: center;

        &:focus {
            outline: none;
        }
    }

    &__content {
        @include flex(auto, column, wrap);
        background-color: blue;
        width: 50%;
    }
}